// General - Start
* {
    box-sizing: border-box;
}

body {
    background-color: $grey1;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.page {
    width: 98%;
    max-width: 1280px;
    margin: 0 auto;
}

.cursor-pointer {
    cursor: pointer;
}

.pt-13 {
    padding-top: 72px;
}
// General - End

// Authentication - Start
.auth-bg {
    background: url('~@/assets/images/auth/auth-bg.jpg') no-repeat center center;
    background-size: cover;
}

.authentication {
    @include transition(all 500ms ease-in-out);

    &-login-form, &-register-form {
        background-color: $white;
        width: 90%;
        position: relative;
        @include border-radius(8px);
    }

    &-login-form {
        padding: 72px 24px 30px;
        max-width: 360px;
    }

    &-register-form {
        padding: 48px 24px 48px;
        max-width: 460px;
    }

    &-title {
        position: absolute;
        top: -36px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 86%;
        background-image: linear-gradient(to right, $purple2, $purple3);
        color: $white;
        text-align: center;
        padding: 20px 0;
        @include border-radius(4px);
        @include box-shadow(0px 4px 22px $purple1);
    }
}
// Authentication - End

// Product - Start
.product {
    padding: 0.5rem 1rem;
    margin-bottom: 50px;
    @include border-radius(5px);

    .product-img {
        line-height: 0;
        background-color: $white;

        img {
            margin: -50px 0 35px;
            padding: 10px 0;
            @include border-radius(6px);
            @include box-shadow(0px 4px 12px $grey5);
            background-color: $white;
        }
    }
}

.product-modal {
    position: relative;

    &-cancel-icon {
        cursor: pointer;
        font-weight: 900;
        font-size: 28px;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 0px 14px;
    }

    &-price {
        margin-bottom: 30px;
        font-family: "Roboto Slab", serif !important;
        font-weight: 400;
        font-size: 22px;       
    }

    &-description-title {
        padding-bottom: 2px;
        border-bottom: 1px solid $grey4;
        margin-bottom: 10px;
    }
}
// Product - End