// Mixins
@mixin box-shadow($value) {
    -moz-box-shadow: $value;
    -webkit-box-shadow: $value;
    box-shadow: $value;           
}

@mixin border-radius($value) {
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
    border-radius: $value;           
}

@mixin transition($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin appearance($value) {
    -webkit-appearance: $value;
    -moz-appearance:    $value;
    appearance:         $value;
}