// Colors
$primary: #e91e63;
$secondary: #9c27b0;
$error: #B71C1C;
$warning: #FB8C00;
$info: #2196f3;
$success: #388E3C;

$white: #ffffff;
$black: #000000;

$grey1: #eeeeee;
$grey2: rgba(127, 127, 127, 0.6);
$grey3: #495057;
$grey4: #e4e4e4;
$grey5: rgba(123, 123, 123, 0.78);

$purple1: rgba(120, 29, 158, 0.78);
$purple2: #a946bb;
$purple3: #7d20a3;